In [1177]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
import itertools
import pep8

In [1178]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1704,tt0462538,75000000,527068851,The Simpsons Movie,Dan Castellaneta|Julie Kavner|Nancy Cartwright...,David Silverman,See our family. And feel better about yours.,After Homer accidentally pollutes the town's w...,87,Animation|Comedy|Family,Gracie Films|Twentieth Century Fox Film Corpor...,7/25/2007,6.9,2007
1562,tt0317198,50000000,40203020,Bridget Jones: The Edge of Reason,RenÃ©e Zellweger|Hugh Grant|Colin Firth|Jim Br...,Beeban Kidron,Same Bridget. Brand new diary.,The story picks up four weeks after the first ...,108,Comedy|Romance,Miramax Films|Universal Pictures|Studio Canal|...,11/10/2004,6.0,2004
401,tt0429493,110000000,177238796,The A-Team,Liam Neeson|Bradley Cooper|Jessica Biel|Sharlt...,Joe Carnahan,There Is No Plan B,A group of Iraq War veterans goes on the run f...,117,Thriller|Action|Adventure|Comedy|Crime,20th Century Fox,6/10/2010,6.2,2010
1464,tt0424095,149000000,64459316,Flushed Away,Hugh Jackman|Kate Winslet|Ian McKellen|Jean Re...,David Bowers|Sam Fell,Someone's Going Down,"London high-society mouse, Roddy is flushed do...",85,Adventure|Animation|Comedy|Family,Aardman Animations|DreamWorks Animation,10/22/2006,6.0,2006
860,tt1702443,13000000,98441954,Justin Bieber: Never Say Never,Justin Bieber|Miley Cyrus|Usher Raymond|Jaden ...,Jon M. Chu,Find out what's possible if you never give up.,"Tells the story of Justin Bieber, the kid from...",105,Documentary|Music|Family,Insurge Pictures|Magical Elves Productions|Sco...,2/11/2011,5.3,2011

In [1179]:
data.describe()

,budget,revenue,runtime,vote_average,release_year
count,1.889000e+03,1.889000e+03,1889.000000,1889.000000,1889.000000
mean,5.431083e+07,1.553653e+08,109.658549,6.140762,2007.860773
std,4.858721e+07,2.146698e+08,18.017041,0.764763,4.468841
min,5.000000e+06,2.033165e+06,63.000000,3.300000,2000.000000
25%,2.000000e+07,3.456058e+07,97.000000,5.600000,2004.000000
50%,3.800000e+07,8.361541e+07,107.000000,6.100000,2008.000000
75%,7.200000e+07,1.782626e+08,120.000000,6.600000,2012.000000
max,3.800000e+08,2.781506e+09,214.000000,8.100000,2015.000000

# Предобработка

In [1180]:
answers = {} # создадим словарь для ответов
data.insert(3, "profit",data.revenue-data.budget)

# 1. У какого фильма из списка самый большой бюджет?

In [1181]:
data.iloc[data.budget.idxmax(),0:4:3][1]

641683000

# Вариант 2

In [1182]:
top_budget_movie = data.nlargest(1, columns=["budget"])["original_title"]
answers['1'] = top_budget_movie 
answers['1']

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

# 2. Какой из фильмов самый длительный (в минутах)?

In [1183]:
answers['2']=data.iloc[data.runtime.idxmax(),0:4:3][1]
answers['2']

-43076064

In [1184]:

 data.nlargest(1, columns=["runtime"])["original_title"]

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [1185]:
answers['3'] = data.iloc[data.runtime.idxmin(),0:4:3][1]
answers['3']

-15540000

In [1186]:
data.nsmallest(1, columns=["runtime"])["original_title"]

768    Winnie the Pooh
Name: original_title, dtype: object

# 4. Какова средняя длительность фильмов?

In [1187]:
answers['4']=data.runtime.mean()
answers['4']

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [1188]:
answers['5']=data.runtime.median()
answers['5']

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [1189]:
answers['6']=data.iloc[data.profit.idxmax(),0:5:4][1]
answers['6']

'Avatar'

# 7. Какой фильм самый убыточный?

In [1190]:
answers['7']=data.iloc[data.profit.idxmin(),0:5:4][1]
answers['7']

'The Lone Ranger'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [1191]:
answers['8']=data[data.profit>0].imdb_id.count()
answers['8']

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [1192]:
answers['9']=data.iloc[data[data.release_year==2008].profit.idxmax(),0:5:4][1]
answers['9']

'The Dark Knight'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [1193]:
answers['10']=data.iloc[data[(data.release_year>=2012)&(data.release_year<=2014)]\
    .profit.idxmin(),0:5:4][1]
answers['10']

'The Lone Ranger'

# 11. Какого жанра фильмов больше всего?

In [1194]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
data_genres=data.genres.str.split('|')
count = Counter()

for lists in data_genres:
    for word in lists:
        count[word]+=1 
answers['11']=count.most_common(1)
answers['11']

[('Drama', 782)]

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [1195]:
data_genres_profit=data.genres[data.profit>0].str.split('|')
count = Counter()

for lists in data_genres_profit:
    for word in lists:
        count[word]+=1
answers['12']=count.most_common(1)
answers['12']

[('Drama', 560)]

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [1196]:
data_director=data.copy()
data_director.director = data.director.str.split('|') 
data_director = data_director.explode('director') 
answers['13']=data_director.groupby(['director'])['revenue'].sum()\
    .sort_values(ascending=False).index[0]
answers['13']

'Peter Jackson'

# Вариант 2

In [1197]:
answers['13']=data.groupby('director')['revenue'].sum()\
    .sort_values(ascending=False).index[0]
answers['13']

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [1198]:
data_genres=data.copy()
data_genres.genres=data_genres.genres.str.split('|')
data_genres=data_genres.explode('genres')
data_genres=data_genres[data_genres.genres=='Action']
data_genres.director=data_genres.director.str.split('|')
data_genres=data_genres.explode('director')
answers['14']=data_genres.director.value_counts().index[0]
answers['14']

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [1199]:
data_2012=data.copy()
data_2012=data_2012[data_2012.release_year==2012]
data_2012.cast=data_2012.cast.str.split('|')
data_2012=data_2012.explode('cast')
answers['15']=data_2012.groupby(['cast'])['revenue'].sum().sort_values(ascending=False).index[0]
answers['15']

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [1200]:
data_cast_mean_budget=data[data.budget>data.budget.mean()].copy()
answers['16']=data_cast_mean_budget.cast.str.split('|').explode().value_counts().index[0]
answers['16']

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [1201]:
data_nicolas_cage=data[data.cast.str.contains('Nicolas Cage')==True]
answers['17']=data_nicolas_cage.genres.str.split('|').explode().value_counts().index[0]
answers['17']

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [1202]:
data_loss_pp=data[data.production_companies\
    .str.contains('Paramount Pictures')]
answers['18']=data_loss_pp.loc[data_loss_pp.profit.idxmin()][4]
answers['18']

'K-19: The Widowmaker'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [1203]:
data_year_profit=data.groupby(['release_year']).sum()
answers['19']=data_year_profit.sort_values('revenue',ascending=False).index[0]
answers['19']

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [1204]:
data_profit_wb=data[data.production_companies\
    .str.contains('Warner Bros')]
answers['20']=data_profit_wb.groupby(['release_year']).sum().sort_values('revenue',ascending=False).index[0]
answers['20']

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [1205]:
data_month_profit=data.copy()
data_month_profit.release_date=pd.to_datetime(data_month_profit.release_date).dt.month
answers['21']=data_month_profit.groupby(['release_date']).count().idxmax()[0]
answers['21']

9

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [1206]:
data_month_profit=data.copy()
data_month_profit.release_date=pd.to_datetime(data_month_profit.release_date).dt.month
answers['22']=data_month_profit[(data_month_profit.release_date>5)&(data_month_profit.release_date<9)].count()[0]
answers['22']

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [1207]:
data_director_winter=data.copy()
data_director_winter.release_date=pd.to_datetime(data_director_winter.release_date).dt.month
data_director_winter=data_director_winter[(data_director_winter.release_date>11)|(data_director_winter.release_date<3)]
answers['23']=data_director_winter.director.str.split('|').explode().value_counts().index[0]
answers['23']

'Peter Jackson'

In [1208]:
winter_director = data.copy()
winter_director['director'] = winter_director['director'].str.split('|')
winter_director = winter_director.explode('director')
winter_director['release_date'] = winter_director['release_date'].dt.month.isin([12, 1, 2])
=winter_director.groupby('director')['release_date'].sum().sort_values(ascending=False)

SyntaxError: SyntaxError: invalid syntax (<ipython-input-1208-87f58d69f627>, line 5)

In [1209]:

data['month'] = pd.to_datetime(data.release_date).dt.month
data['month'].value_counts()

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: month, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [1210]:
data_title=data.copy()
data_title['production_companies']=data_title.production_companies.str.split('|')
data_title=data_title.explode('production_companies')
data_title['original_title']=data_title['original_title'].str.len()
answers['24']=data_title.groupby('production_companies').mean()[['original_title']].sort_values(by='original_title',ascending=False).index[0]
answers['24']

'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [1211]:
data_tagline_long= data.copy()
data_tagline_long['overview_words_length'] = data_tagline_long.overview.map(lambda x: len(x.split(' ')))#
data_tagline_long['production_companies'] = data_tagline_long['production_companies'].str.split('|')#компаний может быть несколько, преобразуем в список
data_tagline_long = data_tagline_long.explode('production_companies')
answers['25'] =data_tagline_long.groupby('production_companies')['overview_words_length'].mean().sort_values(ascending=False).index[0]
answers['25']

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [1212]:
percent_rating_value = 1

answers['26']=data.original_title[data.vote_average.sort_values(ascending=False)
                    [0:round(percent_rating_value*len(data)/100)-1].index]
answers['26']

599                                   The Dark Knight
118                                      Interstellar
125                                The Imitation Game
9                                          Inside Out
34                                               Room
1183                          The Wolf of Wall Street
128                                         Gone Girl
1191                                 12 Years a Slave
119                           Guardians of the Galaxy
1081    The Lord of the Rings: The Return of the King
1800                                          Memento
370                                         Inception
872                                       The Pianist
138                          The Grand Budapest Hotel
1188                                              Her
28                                          Spotlight
124                                        Big Hero 6
177                            The Fault in Our Stars
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [1213]:
from itertools import combinations
data_cast_friend=data.copy()
data_cast_friend=data_cast_friend.iloc[:, 0:5:4]
data_cast_friend=data_cast_friend.cast.str.split('|').explode()
#data_cast_friend=data_cast_friend.value_counts()>7
data_cast_friend
#t=list(combinations(data_cast_friend, 2))

AttributeError: AttributeError: 'DataFrame' object has no attribute 'cast'

# Submission

In [1214]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 723    Pirates of the Caribbean: On Stranger Tides
 Name: original_title, dtype: object,
 '2': -43076064,
 '3': -15540000,
 '4': 109.6585494970884,
 '5': 107.0,
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': 1478,
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger',
 '11': [('Drama', 782)],
 '12': [('Drama', 560)],
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': 2015,
 '20': 2014,
 '21': 9,
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 599                                   The Dark Knight
 118                                      Interstellar
 125                                The Imitation Game
 9                                          Inside Out
 34                                               Room
 1183                          The Wolf of Wall Street
 128                                         Gone Girl
 1191                                 12 Years a Slave
 119                           Guardians of the Galaxy
 1081    The Lord of the Rings: The Return of the King
 1800                                          Memento
 370                                         Inception
 872                                       The Pianist
 138                          The Grand Budapest Hotel
 1188                                              Her
 28                                          Spotlight
 124                                        Big Hero 6
 177                            The Fault in Our Stars
 Name: original_title, dtype: object}

In [1215]:
# и убедиться что ни чего не пропустил)
len(answers)

26